default:
  tags:
    - docker-web
  interruptible: true

stages:
  - lint
  - test
  - secret-detection
  - sonarqube-check
  - release

.job_lint_commits: &tpl_lint_commits
  stage: lint
  image: node_lint_commits
  cache:
    key: ${CI_JOB_NAME}
    paths:
      - node_modules/
  script:
    - "echo \"module.exports = {extends: ['@commitlint/config-conventional']};\" > commitlint.config.cjs"
    - git fetch
    - npx commitlint --from origin/dev --to HEAD -V

.create_release: &tpl_create_release
  image:
    name: node_semantic_release
  stage: release
  variables:
    GITLAB_TOKEN: $GITLAB_TOKEN
  script:
    - semantic-release

#Stages Development
Create semantic release:
  variables:
    GITLAB_TOKEN: $GITLAB_TOKEN
  rules:
    - if: $CI_COMMIT_MESSAGE =~ /\[ci upload\]/
      when: never
    - if: '$CI_COMMIT_MESSAGE =~ "/(refactor|feat|fix|docs|chore|perf|style|test|build|ci|revert)/" && $CI_COMMIT_BRANCH == "dev"'
  tags:
    - docker-web
  interruptible: true
  <<: *tpl_create_release

Lint commit messages:
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
  tags:
    - docker-web
  interruptible: true
  <<: *tpl_lint_commits

secret_detection:
  stage: secret-detection
include:
- template: Security/Secret-Detection.gitlab-ci.yml
- template: Security/SAST.gitlab-ci.yml


sonarqube-check:
  stage: sonarqube-check
  image:
    name: sonarsource/sonar-scanner-cli:5.0.1
    entrypoint: [""]
  variables:
    SONAR_USER_HOME: "${CI_PROJECT_DIR}/.sonar"  # Defines the location of the analysis task cache
    GIT_DEPTH: "0"  # Tells git to fetch all the branches of the project, required by the analysis task
  cache:
     key: "${CI_JOB_NAME}"
     paths:
       - .sonar/cache
  script:
    - echo $CI_COMMIT_REF_NAME
    - sed -i "s|.SONARSCAN_BRANCH|$CI_COMMIT_REF_NAME|g" sonar-project.properties
    - sed -i "s|.CI_MERGE_REQUEST_IID|$CI_MERGE_REQUEST_IID|g" sonar-project.properties
    - sed -i "s|.CI_MERGE_REQUEST_TARGET_BRANCH_NAME|$CI_MERGE_REQUEST_TARGET_BRANCH_NAME|g" sonar-project.properties
    - sed -i "s|.CI_MERGE_REQUEST_SOURCE_BRANCH_NAME|$CI_MERGE_REQUEST_SOURCE_BRANCH_NAME|g" sonar-project.properties
    - sonar-scanner
  rules:
    - if: $CI_COMMIT_MESSAGE =~ /\[ci upload\]/
      when: never
    - if: $CI_COMMIT_BRANCH == "dev"
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
  tags:
    - docker
  interruptible: true